.cesium-credit-textContainer:before {
  content: none !important;
}
.we-pm-icon {
  opacity: 0;
  transform: translateY(50%);
  transition: all 1s ease-in-out;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes markerAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.earth-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

#earth{
  width: 100%;
  height: 100vh;
  position: relative;
  background: black;
  background-size: cover;
  transition: background-color .2s ease, transform 1.2s ease-in-out;
  span {
    color: transparent;
  }
  &.yellow {
    background: lemonchiffon;
  }
  &.blue {
    background: lightskyblue;
  }
  &.plum {
    background: plum;
  }
  &.black {
    background: black;
  }
  &.initial {
    transform: scale(0.5);
  }
  &.small {
    transform: scale(0.5)  translate(50%, -20%);
  }
}