@font-face {
  font-family: 'DrukTextWide';
  src: url('/fonts/DrukTextWide-Medium/DrukTextWide-Medium.eot');
  src: url('/fonts/DrukTextWide-Medium/DrukTextWide-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/DrukTextWide-Medium/DrukTextWide-Medium.svg#DrukTextWide-Medium') format('svg'),
  url('/fonts/DrukTextWide-Medium/DrukTextWide-Medium.ttf') format('truetype'),
  url('/fonts/DrukTextWide-Medium/DrukTextWide-Medium.woff') format('woff'),
  url('/fonts/DrukTextWide-Medium/DrukTextWide-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DrukTextWide';
  src: url('/fonts/DrukTextWide-Bold/DrukTextWide-Bold.eot');
  src: url('/fonts/DrukTextWide-Bold/DrukTextWide-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/DrukTextWide-Bold/DrukTextWide-Bold.svg#DrukTextWide-Bold') format('svg'),
  url('/fonts/DrukTextWide-Bold/DrukTextWide-Bold.ttf') format('truetype'),
  url('/fonts/DrukTextWide-Bold/DrukTextWide-Bold.woff') format('woff'),
  url('/fonts/DrukTextWide-Bold/DrukTextWide-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: url('/fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  url('/fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
  url('/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
  url('/fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Light/Montserrat-Light.eot');
  src: url('/fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg'),
  url('/fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
  url('/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
  url('/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src: url('/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  url('/fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
  url('/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
  url('/fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}