//fonts
$charter: 'Charter', 'OpenSans', sans-serif;

//colors
$black: #231f20;
$white: #fbfbfb;
$red: #e4151b;
$green: #008f4c;
$d-green: #008245;
$l-gray: #e1e1e1;
$l-blue: #6dcef5;
$orange: #f9a51a;
