<% var data = {
title: "Второй заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div data-scroll-container>
  <div class="earth-container">
    <div id="earth_div"></div>
  </div>
  <div data-scroll-section>
    <h1 data-scroll data-scroll-call="test0">Hey</h1>
    <div class="test"></div>
    <p data-scroll>👋</p>
  </div>
  <div data-scroll-section>
    <h2 data-scroll data-scroll-speed="1" data-scroll-call="test">What's up?1</h2>
    <div class="test"></div>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
  <div data-scroll-section >
    <h2 data-scroll data-scroll-speed="1" data-scroll-call="test2">What's up?2</h2>
    <div class="test"></div>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
  <div data-scroll-section >
    <h2 data-scroll data-scroll-speed="1" data-scroll-call="test3">What's up?3</h2>
    <div class="test"></div>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
  <div data-scroll-section >
    <h2 data-scroll data-scroll-speed="1" data-scroll-call="test4">What's up?</h2>
    <div class="test"></div>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>