@import "~swiper/dist/css/swiper";
@import "~locomotive-scroll/dist/locomotive-scroll.css";
@import "./import/variables";
@import "./import/fonts";
@import "./import/earth";
@import "./import/first";
@import "./import/second";
@import "./import/third";
@import "./import/fourth";
@import "./import/fifth";

body {
  margin: 0;
  font-family: 'Montserrat';
  background: black;
}

h1 {
  font-family: 'DrukTextWide';
}

.empty-block-50vh {
  height: 30vh;
}


.test {
  height: 100vh;
  background: transparent;
}

body {
  font-size: 40px;
  color: $d-green;
}
.container2 {
  background: url('./../img/logo.svg');
}

